@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #fe2c55;
    --white: #fff;
    --fw-default: 400;
    --default-layout-header-height: 60px;
    --default-layout-header-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --default-layout-side-bar-width: 356px;
    --border-line: rgba(255, 255, 255, 0.12) 0px 1px 1px;
    --bg-color: rgb(18, 18, 18);
    --bg-menu: rgb(37, 37, 37);
    --text-color: rgba(255, 255, 255, 0.9);
    --fs-default: 1.6rem;
    --lh-default: 1.5;
    --border-radius-btn: 92px;
    --icon-color: rgba(255, 255, 255, 0.12);
    --bg-color-follow-btn: rgba(254, 44, 85, 0.06);
    --bg-color-tooltip: rgba(84, 84, 84, 0.92);
    --font-family: "IBM Plex Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--fs-default);
    font-optical-sizing: auto;
    font-weight: var(--fw-default);
    font-style: normal;
    line-height: var(--lh-default);
    text-rendering: optimizeSpeed;
    background-color: var(--bg-color);
    color: var(--text-color);
}

button, input, [tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

// Font embeded
@font-face {
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url('/assets/fonts/DM-Sans-regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}

// Custom tippy tooltip
body {
    .tippy-box {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        border-radius: 8px;
        background-color: var(--bg-color-tooltip);
        color: var(--text-color);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-arrow {
        color: var(--bg-color-tooltip);
    }

    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
    }
}

