@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #fe2c55;
    --fw-default: 400;
    --default-layout-header-height: 60px;
    --default-layout-header-width: 1150px;
    --default-layout-side-bar-width: 356px
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-optical-sizing: auto;
    font-weight: var(--fw-default);
    font-style: normal;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}