.wrapper {
    width: 100%;
    background: var(--bg-menu);
    border-radius: 8px;
    padding-top: 8px;
    box-sizing: border-box;
    max-height: min(-156px + 100vh, 734px);
    min-height: 100px;
    overflow: hidden auto;
}